# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!pip install gmaps
!jupyter nbextension enable --py --sys-prefix gmaps

# Import API key
from api_keys import g_key

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Requirement already satisfied: gmaps in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: six in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (1.14.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from gmaps) (7.12.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.4)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.4)
Requirement already satisfied: ipython-genutils in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (4.4.1)
Requirement already satisfied: setuptools>=18.5 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (46.0.0.post20200309)
Requirement already satisfied: backcall in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: pickleshare in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (3.0.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: pygments in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.5.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: notebook>=4.4.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-client in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: tornado>=4.2 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: parso>=0.5.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: wcwidth in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: jinja2 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.1)
Requirement already satisfied: prometheus-client in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: terminado>=0.8.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: Send2Trash in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: pyzmq>=17 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (18.1.1)
Requirement already satisfied: nbconvert in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: testpath in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: defusedxml in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: bleach in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.2.0)
Requirement already satisfied: webencodings in /Users/sarahparzyck/Applications/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
weather_df = pd.read_csv('output_data/cities.csv')

weather_df.head()

,City,Country,Date,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Salta,AR,1592517639,0,32,-24.79,-65.41,66.20,10.29
1,Ardmore,US,1592517912,1,29,34.17,-97.14,93.20,13.87
2,Chui,UY,1592517912,37,83,-33.70,-53.46,58.91,10.25
3,Erzin,TR,1592517913,53,85,36.96,36.20,73.00,3.40
4,Bonavista,CA,1592517913,100,77,48.65,-53.11,55.47,5.30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)

In [17]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)

In [18]:
# Plot Heatmap
fig = gmaps.figure(center=(14.5994, 28.6731), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=80,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions.

In [20]:
narrowed_city_df = weather_df.loc[(weather_df["Max Temp"] > 70) & (weather_df["Max Temp"] < 80) & (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] == 0)]
narrowed_city_df.head(10)

,City,Country,Date,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
47,Ischia,IT,1592517918,0,59,40.73,13.95,72.00,2.51
93,Sabha,LY,1592517925,0,18,27.04,14.43,77.83,2.39
110,Cherskiy,RU,1592517927,0,30,68.75,161.30,74.16,8.41
179,Haripur,PK,1592517937,0,44,34.00,72.93,77.00,6.93
213,Murgab,TM,1592517942,0,35,37.50,61.97,73.40,6.93
232,Lüderitz,NaN,1592517944,0,30,-26.65,15.16,71.60,8.05
255,Khāsh,IR,1592517948,0,19,28.22,61.22,73.62,3.42
267,Ust-Kuyga,RU,1592517949,0,44,70.02,135.60,75.40,3.89
489,Awjilah,LY,1592517983,0,24,29.11,21.29,79.79,8.66
507,Ajdabiya,LY,1592517986,0,33,30.76,20.23,73.45,4.34

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df = narrowed_city_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Date,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
47,Ischia,IT,1592517918,0,59,40.73,13.95,72.00,2.51,
93,Sabha,LY,1592517925,0,18,27.04,14.43,77.83,2.39,
110,Cherskiy,RU,1592517927,0,30,68.75,161.30,74.16,8.41,
179,Haripur,PK,1592517937,0,44,34.00,72.93,77.00,6.93,
213,Murgab,TM,1592517942,0,35,37.50,61.97,73.40,6.93,

In [22]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.

In [23]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df

,City,Country,Date,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
47,Ischia,IT,1592517918,0,59,40.73,13.95,72.00,2.51,Albergo Della Regina Isabella
93,Sabha,LY,1592517925,0,18,27.04,14.43,77.83,2.39,فندق أفريقيا
110,Cherskiy,RU,1592517927,0,30,68.75,161.30,74.16,8.41,NaN
179,Haripur,PK,1592517937,0,44,34.00,72.93,77.00,6.93,Islamabad Serena Hotel
213,Murgab,TM,1592517942,0,35,37.50,61.97,73.40,6.93,Mary myhmanhanasy
232,Lüderitz,NaN,1592517944,0,30,-26.65,15.16,71.60,8.05,LÜDERITZ NEST HOTEL
255,Khāsh,IR,1592517948,0,19,28.22,61.22,73.62,3.42,خوابگاه دانشجویی خاش
267,Ust-Kuyga,RU,1592517949,0,44,70.02,135.60,75.40,3.89,NaN
489,Awjilah,LY,1592517983,0,24,29.11,21.29,79.79,8.66,Awjilah Tourist Hotel
507,Ajdabiya,LY,1592517986,0,33,30.76,20.23,73.45,4.34,Almadina Hotel
576,Popondetta,PG,1592517996,0,82,-8.75,148.25,75.88,1.54,Comfort Inn

In [24]:
final_hotel_df = hotel_df.dropna(how='any')
final_hotel_df

,City,Country,Date,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
47,Ischia,IT,1592517918,0,59,40.73,13.95,72.00,2.51,Albergo Della Regina Isabella
93,Sabha,LY,1592517925,0,18,27.04,14.43,77.83,2.39,فندق أفريقيا
179,Haripur,PK,1592517937,0,44,34.00,72.93,77.00,6.93,Islamabad Serena Hotel
213,Murgab,TM,1592517942,0,35,37.50,61.97,73.40,6.93,Mary myhmanhanasy
255,Khāsh,IR,1592517948,0,19,28.22,61.22,73.62,3.42,خوابگاه دانشجویی خاش
489,Awjilah,LY,1592517983,0,24,29.11,21.29,79.79,8.66,Awjilah Tourist Hotel
507,Ajdabiya,LY,1592517986,0,33,30.76,20.23,73.45,4.34,Almadina Hotel
576,Popondetta,PG,1592517996,0,82,-8.75,148.25,75.88,1.54,Comfort Inn

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in final_hotel_df.iterrows()]
locations = final_hotel_df[["Latitude", "Longitude"]]

In [26]:
# Add marker layer ontop of heat map
# markers = gmaps.marker_layer(locations)

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

fig

# Display Map

Figure(layout=FigureLayout(height='420px'))